In [10]:
Name="Rehma"
Age=21
Db=4,3,2002
rollno=6
gender="Female"
print("Name:",Name, type(Name), "\nAge:",Age ,type(Age), "\nDb:", Db, type(Db),"\nrollno:",rollno, type(rollno), "\ngender:", gender,type(gender), )

Name: Rehma <class 'str'>
Age: 21 <class 'int'>
Db: (4, 3, 2002) <class 'tuple'>
rollno: 6 <class 'int'>
gender: Female <class 'str'>

In [2]:
print("********************","\n*\t\t   *"*4,"\n","*******************")

********************
*		   *
*		   *
*		   *
*		   *
 *******************

# Enter height in feet and print in meters

In [1]:
height=5
print("The height in feet is:",height)
print("The height in meter:",height/3.281)

The height in feet is: 5
The height in meter: 1.5239256324291375

# Q:4

In [3]:
print("********************","\n*\t  *\t  *"*2,"\n","*******************","\n*\t  *\t  *"*2,"\n","*******************")

********************
*	  *	  *
*	  *	  *
 *******************
*	  *	  *
*	  *	  *
 *******************